---
layout: default
title: Home page
permalink: /
---


<section class="align-items-center bg-primarylight d-flex hero justify-content-center overflow-hidden">
  <div class="container h-100">
    <div class="row h-100 d-flex align-items-center py-6">
      <div class="col-lg-6 align-self-center">
        <img src="{{'/img/DataTracer-TopLogo.svg' | relative_url }}" alt="" width="260" height="85">
      </div>
      <div class="col-lg-6 text-center align-self-center">
        <img src="{{'/img/Banner-separated-Graphics.png' | relative_url}}" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="wrap">
    <div class="container-lg">
      <div class="row">
        <div class="col-auto">
          <h1 class="title-bordered w-auto heading h1">What is Data Tracer?</h1>
        </div>
      </div>
        <div class="row">
          <div class="col-12">
            <p class="lead">
              The data tracer project aims at identifying metadata using machine learning. Where did the data come from, where did it go, what transforms happened, types, connections, are all what we aspire to identify. To develop these machine learning based methods, we develop several machine learning pipelines and make it easy for an end user to use. Explore our several open source libraries, testbeds, benchmarking frameworks, contribute and become part of the community. And most of all, try and give us feedback.
            </p>
          </div>
        </div>
    </div>
    <div class="container-lg mt-5">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 heading">Resources</h2>
          <p class="lead mb-4">
            Explore docs, papers, videos, tutorials. Join our community slack.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        {% for item in site.data.resources %}
  
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
          {% if item.url != '' %}
            <a href="{{ item.url }}" class="embed-responsive embed-responsive-1by1 rounded-lg bg-secondary overflow-hidden">
              <div class="embed-responsive-item d-flex justify-content-center">
                <p class="h3 font-weight-normal text-white text-center align-self-center px-3 mb-0">{{ item.name }}</p>
              </div>
            </a>
          {% else %}
            <div class="embed-responsive embed-responsive-1by1 rounded-lg bg-secondary overflow-hidden">
              <div class="embed-responsive-item d-flex justify-content-center">
                <p class="h3 font-weight-normal text-white text-center align-self-center px-3 mb-0">{{ item.name }}</p>
              </div>
            </div>
          {% endif %}
        </div>
          
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-6 mt-7">
  <div class="wrap">
    <div class="container-lg">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 heading">Trace</h2>
          <p class="mb-4 lead">
            Learn a variety of machine learning models and use them to trace data origins, link them and discover.
          </p>
        </div>
      </div>
      <div class="row">
        {% for item in site.data.trace %}
          <div class="col-xl-4 col-md-6 mb-4">
  
            {% if item.url != '' %}
              <a href="{{ item.url }}" class="embed-responsive embed-responsive-1by1 rounded-lg overflow-hidden trace-item">
                <div class="embed-responsive-item">
                  <div class="position-absolute is-overlay border border-secondary rounded-lg p-4">
                    <div class="d-flex flex-column justify-content-between h-100">
                      <div>
                        <h3 class="text-danger font-weight-normal h3">{{ item.name }}</h3>
                        <p class="text-secondary font-weight-light desc">{{ item.text }}</p>
                      </div>
                      <div class="d-flex align-items-center flex-grow-1">
                        <img class="w-75" src="{{ item.image | relative_url }}" alt="{{ item.name }}">
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            {% else %}
              <div class="embed-responsive embed-responsive-1by1 rounded-lg overflow-hidden trace-item">
                <div class="embed-responsive-item">
                  <div class="position-absolute is-overlay border border-secondary rounded-lg p-4">
                    <div class="d-flex flex-column justify-content-between h-100">
                      <div>
                        <h3 class="text-danger font-weight-normal h3">{{ item.name }}</h3>
                        <p class="text-secondary font-weight-light desc">{{ item.text }}</p>
                      </div>
                      <div class="d-flex align-items-center flex-grow-1">
                        <img class="w-75" src="{{ item.image | relative_url }}" alt="{{ item.name }}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="wrap">
    <div class="container-lg">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 heading">Concepts</h2>
          <p class="mb-4 lead">
            Learn about different concepts that underpin Data Tracer, evaluation and usage through our tutorials.
          </p>
        </div>
      </div>
      <div class="row justify-content-center justify-content-sm-start">
        {% for item in site.data.concepts %}
        <div class="col-xl-2 col-md-3 col-sm-4 col-xs-6 col-8 mb-4">
          {% if item.url != '' %}
            <a href="{{ item.url }}" class="embed-responsive embed-responsive-1by1 rounded-lg bg-secondary overflow-hidden">
              <div class="embed-responsive-item d-flex justify-content-start">
                <p class="text-white mb-0 font-weight-normal align-self-center px-3 desc">{{ item.name }}</p>
              </div>
            </a>
            {% else %}
            <div class="embed-responsive embed-responsive-1by1 rounded-lg bg-secondary overflow-hidden">
              <div class="embed-responsive-item d-flex justify-content-start">
                <p class="text-white mb-0 font-weight-normal align-self-center px-3 desc">{{ item.name }}</p>
              </div>
            </div>
          {% endif %}  
        </div>
          
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="mb-7">
  <div class="wrap">
    <div class="container-lg">
      <div class="row">
        <div class="col-12">
          <h2 class="h1 heading">Libraries</h2>
          <p class="lead mb-4">
            Explore our open source libraries, contribute and become part of the community.
          </p>
        </div>
      </div>
      <div class="row justify-content-center justify-content-lg-start">
        {% for item in site.data.libraries %}
          <div class="col-auto mb-4" style="max-width: 334px;">
            <div class="card h-100 rounded-0 card-shadow">
              <div class="card-body pb-0">
                <div>
                  <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 40px; height: 40px;">                
                </div>
                <p class="text-20 mt-3 mb-4">{{ item.name }}</p>
                <p class="font-weight-light text-14">{{ item.text }}</p>
                
              </div>
              
              <div class="card-footer border-0 bg-transparent pt-0">
                <p class="github-topics text-10 m-0" data-owner="{{ item.github_repo }}" data-repo="{{ item.github_repo }}">
                  
                </p>
                <p class="mb-4" style="min-height: 75px;">
                  {% for badge in item.badges %}
                    <a href="{{badge.url}}" rel="nofollow" class="hoverable-i text-10">
                      <img 
                      src="{{ badge.image }}" alt="Development Status" data-canonical-src="{{ badge.image }}" 
                      style="max-width:100%;">
                    </a>
                  {% endfor %}
                </p>
                <p class="mb-0">
                  <a href="{{ item.github }}" class="mr-4 hoverable-i">
                    <img width="17" height="17" src="{{'/img/Libraries-Cards-Github.svg' | relative_url }}" alt="{{ item.name }} Github repository">
                  </a>
                  <a href="{{ item.docs }}" class="mr-4 hoverable-i">
                    <img width="17" height="17" src="{{'/img/Libraries-Cards-Docs.svg' | relative_url }}" alt="{{ item.name }} Documentation">
                  </a>
                </p>
              </div>
              
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

