/* purgecss start ignore */
.navbar {
  transition: background-color 250ms ease-in-out;
  .nav-bg-white & {
    background: $hero-gradient;
    box-shadow: 6px 3px 12px rgba(68, 68, 68, 0.05)
  }
  
  @include media-breakpoint-down(lg) { 
    background: $hero-gradient;
  }

  .nav-link {
    @include media-breakpoint-up(xxl) { 
      font-size: 1.5rem !important;
    }
    @include media-breakpoint-up(xxxl) { 
      font-size: 2rem !important; 
    }
  }
}

/* purgecss end ignore */