<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class=" ">What is Data Tracer?</h1>
        <p>
          The data tracer project aims at identifying metadata using machine learning. Where did the data come from, where did it go, what transforms happened, types, connections, are all what we aspire to identify. To develop these machine learning based methods, we develop several machine learning pipelines and make it easy for an end user to use. Explore our several open source libraries, testbeds, benchmarking frameworks, contribute and become part of the community. And most of all, try and give us feedback.
        </p>
      </div>
    </div>
  </div>
</section>